.table {
	border-collapse: collapse !important;
}

.table td, .table th {
	background-color: #fff !important;
}

.table-bordered th, .table-bordered td {
	border: 1px solid #000 !important;
}

.table-hasil td {
	padding: 0.4em;
}

h1 {
	font-size: 34px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 10px;
}

p {
	margin: 0 0 10px;
	line-height: 120%;
}

.barcode {
	padding: 1.5mm;
	margin: 0;
	vertical-align: top;
	color: #000000;
}

.barcodecell {
	text-align: right;
	vertical-align: middle;
	padding: 0;
}